.container1{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container2{
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.btn {
  background-color: #4CAF50; /* Verde */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #45a049;
}
